@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-family: 'Urbanist', sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #8DFF69;
}

@layer base {
  html{
    font-family: var(--font-family);
    scroll-behavior: smooth;
  }

  body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #FFFFFF;
    overflow: hidden;
  }
}